.buttonDelete {
    width: 70px;
    height: 30px;
    background-color: red;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s;
    border-radius: 8px;
    margin-right: 8px;
    cursor: pointer;

}

.buttonDelete:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.iconeCorbeille {
    width: 20px;
    height: 20px;
    padding-top: 3px;

}

.buttonDelete {
    display: inline-block;
    padding: 8px 16px;
    background-color: red; 
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}
.buttonDelete:hover {
    background-color: darkred;
}

/* liste des articles ===========================*/

/* Styles pour la table */
.table-container {
    margin: 20px 0;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.styled-table th {
    background-color: #54880e;
    color: #fff;
    font-weight: bold;
}

.styled-table td {
    color: #333;
}

.styled-table td a {
    color: #54880e;
    text-decoration: none;
    transition: color 0.3s;
}

.styled-table td a:hover {
    color: #3e640a;
}

/* Styles pour les images */
.imageListAdmin {
    width: 80px;
    height: 80px;
    object-fit: cover; 
    border-radius: 5px;
}

/* Styles pour les boutons */
.buttonDelete {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttonDelete:hover {
    background-color: #c82333;
}

.iconeCorbeille {
    width: 16px;
    height: 16px;
}

/* Styles pour la page de gestion des utilisateurs ================ */
.user-management-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-management-container h1 {
    font-size: 2em;
    color: #54880e;
    text-align: center;
    margin-bottom: 20px;
}

.user-management-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.user-management-table th,
.user-management-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

.user-management-table th {
    background-color: #54880e;
    color: #fff;
    font-weight: bold;
}

.user-management-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.user-management-table td a button {
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-management-table td a button:hover {
    background-color: #c9302c;
}

