/* Styles pour la page de catégories */
.main-categories {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.page-title {
    text-align: center;
    font-size: 2.5em;
    color: #54880e;
    margin-bottom: 40px;
    
}

.category-title {
    font-size: 2em;
    color: #38761d;
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: 2px solid #38761d;
    padding-bottom: 10px;
}

.category-articles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.article-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    flex: 1 1 calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.article-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-categorie {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.article-title-categorie {
    font-size: 1.5em;
    color: #54880e;
    text-align: center;
    margin-bottom: 10px;
}

.article-date-categorie {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 10px;
}

.article-text-categorie {
    flex-grow: 1;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
}

.read-more {
    text-decoration: none;
    color: #fff;
    background-color: #54880e;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.read-more:hover {
    background-color: #466a0c;
}
