@import url(/asset/css/header.css);


:root{
    --header-color: #7fbf7fcc;
    --title-color: #083c08; 
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    }