/* Styles pour la page secret */
.secret-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.secret-message {
    font-size: 1.8em;
    color: #54880e;
    margin-bottom: 20px;
}

.admin-actions {
    list-style: none;
    padding: 0;
}

.admin-actions li {
    margin: 10px 0;
}

.header-link {
    display: inline-block;
    background-color: #5bc0de;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.header-link:hover {
    background-color: #31b0d5;
}
